/*
 * Author: Levi Rocha
 * https://pino.github.io
 * Date: 28 Dec 2016
 */

@CHARSET "ISO-8859-1";

#board {
	max-width: 460px;
}

.game-button {
	height: 32px;
	border-radius: 4px;
	padding: 2px 8px 2px 8px;
	margin: 1px;
	margin-top: 4px;
}
