body {
	background-color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	color: aliceblue;
	border-color: black;
	text-align: center;
}

#header {
	background-color: #eeeeee;
	border-style: solid;
	border-radius: 5px 20px;
	border-color: #333366;
	padding: 5px;
	color: #333366;
	margin: auto;
	margin-bottom: 40px;
}

#author {
	display: block;
	width: 100%;
}

#links {
	display: block;
	margin: 10px;
}

#links a {
	font-size: 18px;
}

#header h2 {
	margin: 10px 5px 0px 10px;
}

#header p {
	margin: 10px 5px 10px 20px;
}

#header div {
	display: inline-block;
}

table {
	border-collapse: collapse;
	margin: auto;
}

tr:nth-child(odd) {
	background-color: #ffffff;
	color: #333366;
}

tr:nth-child(even) {
	background-color: #eeeeee;
	color: #333366;
}

thead td {
	background-color: #333366;
	color: #ffffff;
}

table, th, td {
	border-style: solid;
	border-color: #003366;
	padding: 8px 10px 8px 10px;
}

/* desktop */
@media only screen and (min-width: 420px) {
	#header {
		width: 40%;
		min-width: 420px;
	}
	table {
		width: 40%;
		min-width: 420px;
	}
}