body {
	background-color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	color: aliceblue;
	border-color: black;
}

#header {
	background-color: #dddddd;
	border-style: solid;
	border-radius: 5px 20px 20px 20px;
	border-color: #333366;
	padding: 5px;
	margin-bottom: 40px;
	color: #333366;
}

#header h2 {
	margin: 10px 5px 0px 10px;
}

#header p {
	margin: 10px 5px 10px 20px;
}

table {
	border-collapse: collapse;	
}

tr:nth-child(odd) {
	background-color: #ffffff;
	color: #333366;
}

tr:nth-child(even) {
	background-color: #dddddd;
	color: #333366;
}

thead td {
	background-color: #333366;
	color: #ffffff;
}

table, th, td {
	border-style: solid;
	border-color: #003366;
	padding: 5px;
}