.filter-card {
    border-style: solid;
	border-radius: 8px;
    border-color: #333366;
    width: 148px;
    padding: 4px 16px;
    margin: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 2px 5px #aaa;
}