.small-tag {
    margin: 1px;
    font-size: 9px;
    background-color: #fff;
    border: solid 0.5px #390099;
    border-radius: 2px;
    padding: 2px 5px;
    display: inline-block;
    white-space: pre-line;
    transition: all 0.35s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    opacity: 0.9;
}

.small-tag.selected {
    background-color: #390099;
    color: white;
}

.small-tag:hover {
    opacity: 0.5;
    background-color: #390099;
    color: white;
}

.small-tag.selected:hover {
    background-color: #eee;
    ;
    color: black;
}

@media screen and (max-width: 550px) {
    .small-tag:hover {
        opacity: 1;
        background-color: #390099;
        color: white;
    }
    .small-tag.selected:hover {
        background-color: #390099;
        color: white;
    }
}