.filter-card {
    border-radius: 8px;
    width: 204px;
    padding: 4px 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.24);
}

.filter-card>div {
    margin: 8px;
}

@media screen and (max-width: 550px) {
    .filter-card {
        width: auto;
    }
}