.project-card {
    position: relative;
	border-radius: 8px;
    width: 290px;
    height: 290px;
    margin: 18px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.12), 0 0 6px rgba(0,0,0,0.24);
    transition: all 0.35s cubic-bezier(.25,.8,.25,1);
}

.project-card:hover {
    cursor: pointer;
    box-shadow: 0 0 18px rgba(0,99,0,0.36), 0 0 24px rgba(0,99,0,0.48);
}

.project-card .image-port {
    width: 290px;
    height: 190px;
    overflow: hidden;
    position: relative;
}

.project-card img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
}

.project-card p {
    margin: 4px 12px;
}

@media screen and (max-width: 900px) {
    .project-card {
        margin: 8px;
    }
}

@media screen and (max-width: 550px) {
    .project-card {
        margin: 8px auto;
        width: 100%;
        box-shadow: 0 0 12px rgba(0,0,0,0.24), 0 0 12px rgba(0,0,0,0.32);
    }
    .project-card .image-port {
        width: 100%;
        margin: 0;
    }
    .image-port img {
        width: 100%;
        margin: 0;
    }
}