.small-tag {
    margin: 2px;
    font-size: 9px;
    background-color: grey;
    border-radius: 2px;
    padding: 2px 4px;
    display: inline-block;
    white-space: pre-line;
    transition: all 0.35s cubic-bezier(.25,.8,.25,1);
}

.small-tag.selected {
    background-color: green;
    color: white;
}