.project-list div {
    display: inline-block;
}

.project-list h2 {
    margin-left: 24px;
    padding-top: 16px;
}

@media screen and (max-width: 550px) {
    .project-list {
        text-align: center;
    }
}