.small-tag-list {
    right: 8px;
    bottom: 4px;
    text-align: right;
    margin: 0;
    width: 290px;
    line-height: 10px;
}

@media screen and (max-width: 550px) {
    .small-tag-list {
        width: 98%;
    }
}