.about-card {
    border-style: solid;
	border-radius: 8px;
    border-color: #333366;
    width: 250px;
    padding: 4px 16px;
    margin: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 2px 5px #aaa;
}

.links {
    float: right;
}

.links img {
    height: 34px;
    width: 34px;
    margin: 1px 0 0 14px;
    transition: .2s;
}

.links img:hover {
    opacity: 0.4;
}